<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<nav>
  <a routerLink="/AddEmployee">Employee Registration</a><br>
  <a routerLink="/SkillRegistration">SkillRegistration</a><br>
  <a routerLink="/SkillSearch">SkillSearch</a><br>
  <a routerLink="/SkillUpdate">Skill Update</a><br>
  <!--<a routerLink="/EditEmployee">EditEmployees</a><br>
  <a routerLink="/ViewEmployee">ViewEmployees</a><br> -->
</nav>
<div>
  <router-outlet></router-outlet>
</div>