<div *ngIf="employee">    
  <form>              
        <div><label for="Employee Id">Employee Id: </label>{{employee.employee_Id}}</div>
        <div><label for="BatchCount">Batch Count:</label>
        <input [(ngModel)]="employeemodel.batchCount" name="batchCount"></div><br>
        <div><label for="experiance">Experiance:</label>
        <input [(ngModel)]="employeemodel.experiance" name="experiance"></div><br>
        <div><label for="placementCount">Placement Count:</label>
        <input [(ngModel)]="employeemodel.placementCount" name="placementCount"></div><br>
        <div><label for="certificate">Certification:</label>
        <input [(ngModel)]="skillModel.certificate" name="certificate"></div><br>
        <div> <label for="skill">Skill:</label>
        <input type="skill" [(ngModel)]="skillModel.skill" name="skill"></div><br>                    
    <button (click)="skillRegister()">Register</button>
  </form>
</div>